<template>
    <div class="modal fade" id="taxAdd">
		<div class="modal-dialog" style="margin-top: 80px;">
			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title"> <i class="entypo-folder"></i> {{ titleLabel }} </h3>
				</div>
				
				<div class="modal-body">

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
						    <label for="name_tax">{{inputNameLabel}}</label>
							<input id="name_tax"
                            class="form-control input-lg"
                            name="name-tax"
                            type="text"
                            data-item="name_tax"
                            />
						</div>
					</div>
				</div>

					<div class="row">
						<div class="col-md-12">
							 <label for="aliquot_tax">{{inputAliquotLabel}}</label>
							<input id="aliquot_tax"
                            class="form-control input-lg"
                            name="aliquot-tax"
                            type="text"
                            data-item="aliquot_tax"
                            />
						</div>
					</div>
				
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">{{ closeLabel }}</button>
					<a class="btn btn-green btn-lg btn-icon pull-right" href="javascript:void(0)" @click="onSaveTax">{{ saveLabel }}<i class="entypo-floppy"></i></a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
    props: ['url', 'inputAliquotLabel', 'inputNameLabel', 'titleLabel', 'closeLabel', 'saveLabel'],
    data(){
        return {
            aliquot_tax: null,
            name_tax:null
        }
    }, 
    methods: {
        onSaveTax(){
            console.log('ativado');
        }
    }
}
</script>