<template>
    <div>
        <autocomplete
            :name="name"
            :source="url+'?type='+ client_type +'&q='"
            results-property="items"
            input-class="form-control  input-lg"
            @selected="onSelect"
            @clear="onClear"
            :initialValue="value"
            :placeholder="placeholder"
            :initialDisplay="value"
            results-display="name">
       </autocomplete>
    </div>    
</template>

<script>
export default {
    
      props: ['placeholder','name','url','value', 'client_type',],

    methods: {
      
      onSelect: function(suggestionItem)
      {
         const data = suggestionItem.selectedObject;
         const documento = (data.type_of_people === 'f' ? "cpf" : (data.type_of_people === 'j' ? 'cnpj' : false));

         this.$root.$data.form.customer_id = data.id;
         this.$root.$data.form.customer_name = data.name;
         this.$root.$data.form.customer_tax_id = (!documento ? false : data.pessoa[documento]);
         this.$root.$data.form.customer_phone = data.phone;
         this.$root.$data.form.customer_address = data.address;
         this.$root.$data.form.customer_responsible = data.responsible;
         this.$root.$data.form.customer_responsible_cpf = data.responsible_cpf;
         this.$root.$data.form.customer_adress_formated = (data.address != null ? `${data.address.address}, ${data.address.city}-${data.address.uf}` : null);


        if(typeof this.$root.$data.form.default_customer_route != 'undefined')
        {
          this.$root.$data.form.customer_route = this.$root.$data.form.default_customer_route.replace('#customer_id#',data.id);
          this.$root.getShowLink();
        }

       
      },
      onClear()
      {
        
        this.$root.hideShowLink();
  
      }
    }
    
}
</script>

