<template>
    <div>
          <autocomplete
      :source="url+'?type='+type_item+'&q='"
      results-property="items"
      input-class="form-control  input-lg"
      :placeholder="placeholder"
      @selected="onSelect"
      :initialDisplay="value"
      :initialValue="value"
      results-display="name">
       </autocomplete>
    </div>
</template>

<script>

export default {

    props: ['url','placeholder','item-index','value','type_item'],

    methods: {
      onSelect: function(suggestionItem)
      {
        const data = suggestionItem.selectedObject,
        item_quantity = document.getElementById('item_quantity');
       
          this.$root.$data.form.items[this.itemIndex].id = data.id;
          this.$root.$data.form.items[this.itemIndex].name = data.name;
          this.$root.$data.form.items[this.itemIndex].price = data.sale_price;
          this.$root.$data.form.items[this.itemIndex].quantity = 1;
          this.$root.$data.form.items[this.itemIndex].total = data.sale_price;
          this.$root.$data.form.items[this.itemIndex].tax_id = [];

          if (item_quantity) {
            item_quantity.setAttribute('max',data.storage);
          }
       
      },

    }
    }
</script>

<style >
.autocomplete__box{
  border: 1px solid #ebebeb !important;
}
</style>