<template>
    <div>
        <autocomplete
            :name="name"
            :source="url+'?q='"
            results-property="items"
            input-class="form-control  input-lg"
            @selected="onSelect"
            @clear="onClear"
            :placeholder="placeholder"
            :initialDisplay="valorDisplay"
            :initialValue="valor"
            results-display="name">
       </autocomplete>
    </div>    
</template>

<script>
export default {
    
      props: ['item-index', 'placeholder','name','url','value'],
   data() {
     return {
       selected_id: null,
       valor: null,
       valorDisplay: null,
     }
   },
     beforeMount() {
      if(this.$root.$data.edit.status && typeof this.value != 'undefined'){
       
        for(var i=0; i < this.$root.$data.taxes.length; i++)
        {
          if(this.value != null)
          {
            
            if(this.$root.$data.taxes[i].id == this.value){
              this.valorDisplay = this.$root.$data.taxes[i].name;
              this.valor = this.$root.$data.taxes[i].id;
            }
          }
        }
      
     }
    },
   mounted() {
      if(this.$root.$data.edit.status && typeof this.$root.$data.form.items[this.itemIndex].tax_id == 'undefined' ||  this.$root.$data.form.items[this.itemIndex].tax_id == null){
        this.$root.$data.form.items[this.itemIndex].tax_id = [];
      }
     
     
   },
    methods: {
      onSelect: function(suggestionItem)
      {
        const data = suggestionItem.selectedObject;

       var array_taxes = this.$root.$data.taxes.map(tax => data.id === tax.id || data);

        if(this.$root.$data.taxes.length == 0 )
        {
          this.$root.$data.taxes.push(data);
        }else{
            if(array_taxes !== true)
            {
              this.$root.$data.taxes.push(data);
            }
        }
          this.selected_id = data.id;
          
        this.$root.$data.form.items[this.itemIndex].tax_id.push(data.id);
       
        this.$root.onCalculateTotal();
       
      },
      onClear()
      {
        
        
       var index_cleared = this.$root.$data.form.items[this.itemIndex].tax_id.indexOf(this.selected_id);

        this.$root.$data.form.items[this.itemIndex].tax_id.splice(index_cleared,1);

        this.$root.onCalculateTotal();
      }
    }
    
}
</script>

